@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}



.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin: 0;
    padding: 5px 15px;
    background-color: #eec802;
    border-color: #eec802;
}

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0s);
}


/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Block dividers */

hr {
    margin: 0 auto;
}
.row-gap {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}


/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}



/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #e2e2e2fb;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}



/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: #08a815;
    border-color: #08a815;
    margin: 10px;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    color: #fff;
    background-color: #1b3502;
    border-color: #1b3502;
    
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    color: #fff;
    background-color: #460f02;
    border-color: #460f02;
}


/* Service Card */

.cards-header-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.card-title {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;

}


.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    background-color: #3B008D;
    margin: 20px;
    padding: 10px;
    flex: 33%;
    border-style: solid;
    border-width: thin;
}

.flex-item-center {
    background-color: #750708;
    margin: 20px;
    padding: 10px;
    flex: 33%;
    border-style: solid;
    border-width: thin;
}

.flex-item-right {
    background-color: #095FEA;
    margin: 20px;
    padding: 10px;
    flex: 33%;
    border-style: solid;
    border-width: thin;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}



/* Features / Trending */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}



/* Footer */

.footer-container {
    width: 100%;
}

.footer {
    padding: 60px 0;
    width: auto;
    background: #3B008D;
    color: #fff;

}

.footer-title {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;

}

.footer-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    background: #ff304d;
}

.footer-links a {
    padding: 10px 0;
    color: #fff;
    display: block;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ff304d;
}

.footer-social-links li {
    display: inline-block;
}

.footer-social-links a {
    width: 40px;
    height: 40px;
    font-size: 16px;
    float: left;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    line-height: 1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    background: #3B008D;
}

.footer-social-links a:hover {
    background: #ff304d;
}

/* g. Footer bottom section */
.footer-bottom {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    background: rgb(9, 95, 234);
}

.footer-bottom a {
    color: #fff;
}

.footer-bottom a:hover {
    color: #ff304d;
}


/* -------------------------------------- Go Back To Up */

.gotopbtn {
    position: fixed;
    width: 30px;
    height: 30px;
    background: #f504b9;
    bottom: 30px;
    right: 20px;
    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #fafafa;
    font-size: 20px;
}

.gotopbtn:hover {
    opacity: 0.9;
    color: #fafafa;
    border-color: #fafafa;
}
